.header__square-pic {
  position: absolute;
  right: 0px;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.header__square-pic:hover{
  animation: rotation 20s linear 0s infinite;
}