.cards {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    /*display: grid;
    grid-template-columns: 240px 240px 240px;
    justify-items: center;
    align-content: center;
    justify-content: center;*/
    width: 920px;
    padding: 0;
    margin: 0;
}