.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.logo {
  background-size: auto;
  height: 32px;
  width: 183px;
  margin-left: 64px;
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
  top: 30px;
}

.header__title {
  margin: 0;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__square-pic {
  position: absolute;
  right: 0px;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  background-image: url(../images/header-image.png);
  background-size: cover;
  right: 0px;
  bottom: 0px;
  width: 765px;
  height: 608px;
}

.content {
  margin: 0;
}

.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 0px;
}

.two-columns__bref {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 175px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.12;
  font-size: 18px;
  color: #2f80ed;
  margin: 0;
  }

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  min-width: 784px;
  top: 0px;
  right: 0px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  z-index: 1;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  font-style: normal;
  margin: 0;
  z-index: 1;
}

.table {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 1100px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  margin: 0;
  margin-top: 20px;
}

.feynman {
  display: flex;
  position: relative;
  min-height: 890px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

/*.feynman__main_illustration {
  position: absolute;
  background-image: url(../images/feynman.png);
  background-size: cover;
  left: 0px;
  bottom: 0px;
  width: 867px;
  height: 637px;
}*/

.feynman__title {
  width: 648px;
  margin: 0px;
  margin-top: 100px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}

.feynman__subtitle {
  width: 648px;
  margin: 0px;
  margin-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 34px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  position: absolute;
  height: 877px;
  width: 877px;
  top: 0px;
  right: -210px;
  z-index: 0;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  color: white;
  width: 0;
  width: 200px;
  margin-top: 80px;
}

.footer {
  background-color: #1f1f1f;
  display: flex;
  align-items: stretch;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
  margin-left: 64px;
  align-items: stretch;
}

.footer__column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 0px;  
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

.footer__author {
  margin: 18px 0 18px 64px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

.footer__column_content_info {
  margin: 0px;
  justify-content: flex-start;
}

.footer__column_content_social {
  margin: 0px;
  justify-content: flex-start;
}


.footer__column-heading {
  color: white;
  margin: 0px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 18px;
  padding: 0;
}

.footer__column-link {
  margin: 0px;
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  list-style: none;
  text-decoration: none;
  padding: 0px;
  color: white;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0px;
}